<div class="container">
  <div class="form-section">
    <h2>Agregar Empleado</h2>
    <form (submit)="addEmpleado()" class="form">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="nuevoEmpleado.nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" [(ngModel)]="nuevoEmpleado.apellido" name="apellido" required>
      </div>
      <div class="form-group">
        <label for="edad">Edad:</label>
        <input type="number" id="edad" [(ngModel)]="nuevoEmpleado.edad" name="edad" required>
      </div>
      <div class="form-group">
        <label for="salario">Salario:</label>
        <input type="number" id="salario" [(ngModel)]="nuevoEmpleado.salario" name="salario" required>
      </div>
      <button type="submit" class="btn-submit">Agregar</button>
    </form>
  </div>

  <div class="table-section">
    <h2>Lista de Empleados</h2>
    <table class="employee-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Salario</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados" (click)="selectEmpleado(empleado)">
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido }}</td>
          <td>{{ empleado.edad }}</td>
          <td>${{ empleado.salario }}</td>
          <td><button class="btn-delete" (click)="deleteEmpleado(empleado.id)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-section">
    <h2>Actualizar Empleado</h2>
    <form (submit)="updateEmpleado()" class="form">
      <div class="form-group">
        <label for="id">ID del Empleado:</label>
        <input type="number" id="id" [(ngModel)]="empleadoActualizar.id" name="id" required>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="empleadoActualizar.nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" [(ngModel)]="empleadoActualizar.apellido" name="apellido" required>
      </div>
      <div class="form-group">
        <label for="edad">Edad:</label>
        <input type="number" id="edad" [(ngModel)]="empleadoActualizar.edad" name="edad" required>
      </div>
      <div class="form-group">
        <label for="salario">Salario:</label>
        <input type="number" id="salario" [(ngModel)]="empleadoActualizar.salario" name="salario" required>
      </div>
      <button type="submit" class="btn-submit">Actualizar</button>
    </form>
  </div>
</div>
